---
import SkillCard from './SkillCard.astro'
---

<div class="skill-card">
 <SkillCard name="HTML" icon="skill-icons:html" description="HTML" experience={4} level={3} intrest={1} />
</div>

<style></style>
